/* padding section page description.html */
.sj_section{
  padding: 2%;
}

.title_color {
	color: green !important;
}

.footer {
	width: 100%;
	height: 60px;
	bottom: 0;
	border: 1px solid grey;
	text-align: center;
	margin-top: 40px;
}

.footer p {
	padding-top: 18px;
}

